.Checkbox-Container {
  font-size: 1.125rem;
  display: flex !important;

  .ant-checkbox {
    margin-right: 1rem;
    height: max-content !important;
    display: flex !important;
    & > input {
      display: block;
    }
  }
  .ant-checkbox-inner {
    border-radius: 50% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
}

.ant-checkbox-checked::after {
  border-radius: 50% !important;
}
.text {
  font-weight: 600;
}
