@import '../constants';

.Header {
  display: flex;
  width: 100%;
}

.navigationMenu {
  display: flex;
  align-items: flex-end;
  padding-left: 4.8125rem;
  text-transform: uppercase;
  font-size: 1.125rem;
  color: #222222;
}

.menuList {
  display: flex;
  li {
    $fontSize: 1rem;
    font-size: $fontSize;
    cursor: pointer;
    height: $logoHeight + 0.5rem;
    line-height: $logoHeight * 2 - $fontSize;

    &:hover {
      border-bottom: 0.125rem solid #ee2e24;
    }

    & a {
      color: #333 !important;
    }

    &:not(:first-child) {
      margin-left: 3.125rem;
    }
  }
}
