@font-face {
  font-family: "ProximaNova-Bold";
  src: url("./ProximaNova-Bold.eot?#iefix") format("embedded-opentype"),
    url("./ProximaNova-Bold.otf") format("opentype"),
    url("./ProximaNova-Bold.woff") format("woff"),
    url("./ProximaNova-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ProbaPro-ExtraLight";
  src: url("./ProbaPro-ExtraLight.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ProbaPro-ExtraLight";
  src: url("./ProbaPro-ExtraLight.otf") format("opentype"),
    url("./ProbaPro-ExtraLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
