.Modering {
  display: flex;
  flex-direction: column;
  height: 100%;
  .Modering-Header {
    display: flex;
    justify-content: center;
    & > header {
      width: 72rem;
    }
  }
  .Modering-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex: 1;
    & > div {
      max-width: 500px;
      border-radius: 20px;
      background-color: #f7f7f7;
      box-shadow: 0 0.688rem 2.688rem #e2e2e2;
      padding: 40px;
      font-size: 12px;
      line-height: 14px;
      color: black;

      // font-weight: bold;
      & > p {
        margin-bottom: 10px;
      }
    }
  }
}
