.AuthForm {
  display: flex;
  flex-direction: column;
  width: 41.375rem;

  & > :not(:first-child) {
    margin-top: 2.25rem;
  }
}

.button {
  width: 15rem;
}

.buttonBox {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  align-items: flex-end;

  p {
    margin-top: -1.5rem;
    padding-bottom: 20px;
    margin-right: 1rem;
    cursor: pointer;
    user-select: none;
  }
}
