.Input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Input:not(:first-child) {
  margin-top: 20px !important;
}

.label {
  width: 15rem;
  color: #333333;
  font-size: 1.125rem;
  font-weight: 600;
  font-family: "ProbaPro-ExtraLight";
}
