.RegistrationForm {
  display: flex;
  flex-direction: column;
  width: 41.375rem;

  & > :not(:first-child) {
    margin-top: 2.25rem;
  }

  .buttonWrapper {
    width: 30.425rem;
    display: flex;
    align-self: flex-end;
  }

  .button {
    width: 15rem;
    margin: 0 auto;
  }

  .checkbox {
    margin-top: 2.8125rem;
    align-self: flex-end;
    width: 30.425rem;
    // display: flex;
  }

  .checkbox_invalid {
    & > label > span:first-child > input[type="checkbox"] {
      display: block;
      padding: 1px;
      border-radius: 50%;
      outline: 2px solid red !important;
    }
  }
}
