@import "../../../variabales.scss";
.Sidebar-Container {
  border-top-left-radius: 20px;
  width: 100%;
  position: relative;
  z-index: 1;
  height: 100%;
  min-height: 800px;
  padding-top: 18px;
  background-color: #efefef;

  &.disabled {
    cursor: not-allowed;

    li {
      a {
        color: #a6a6a6 !important;
        cursor: not-allowed;
        pointer-events: none;
      }
      svg {
        fill: #a6a6a6;
        cursor: not-allowed;
      }
    }
  }
  li {
    height: 40px;
    font-size: 18px;
    padding: 0 40px;
    letter-spacing: 0px;
    padding-right: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      display: flex;
      align-items: center;
      fill: $inactive;
      &:visited,
      & {
        color: $inactive;
      }
      &:active,
      &:focus {
        outline: none;
        border: none;
      }
      svg {
        width: 25px;
        height: 25px;
        margin-right: 10px;
      }
    }
  }

  li.active {
    a {
      &:visited {
        color: #fff;
      }
      color: #fff !important;
      svg {
        fill: #fff;
      }
    }
    color: #fff !important;
    background-color: $blue;
  }
}

.ant-scroll-number-only-unit {
  padding-top: 1px !important;
}
